<h1><%= @customer.street_address %></h1>
<h1><%= @customer.city_state_zip %></h1>
</br>
</br>
<% if @last_tip.present? %>
<h4>Most recent tip: <%= @last_tip.formatted_tip %></h4>
<% else %>
<h4>Enter a tip below to begin tracking gratuities.</h4>
<% end %>
</br>
<% if @median_tip.present? %>
<h4>Average tip: <%= @median_tip.formatted_tip %></h4>
<% end %>
</br>
<% if @high_tip.present? %>
<h4>Highest tip: <%= @high_tip.formatted_tip %></h4>
<% end %>
</br>
</br>
<h3>Enter a tip for customer:</h3>
<%= render 'tips/form' %>
</br>
</br>
<%= link_to "Did this customer move?", 
edit_customer_path(@customer) %>
</br>
</br>
<%= link_to "Delete Customer", customer_path(@customer),
method: :delete, data: { confirm: "Delete this customer?"} %>
