<h1><%= @customer.address %></h1>
</br>
</br>
<% if @last_tip.present? %>
<h4>Most recent tip: $<%= @last_tip.formatted_price.dollar %>.<%= @last_tip.formatted_price.cent %></h4>
<% else %>
<h4>Enter a tip below to begin tracking gratuities.</h4>
<% end %>
</br>
<% if @median_tip.present? %>
<h4>Average tip: $<%= @median_tip.dollar %>.<%= @median_tip.cent %></h4>
<% end %>
</br>
<% if @high_tip != nil %>
<% if @high_tip.cent < 10 %>
<h4>Highest tip: $<%= @high_tip.dollar %>.0<%= @high_tip.cent %></h4>
<% else %>
<h4>Highest tip: $<%= @high_tip.dollar %>.<%= @high_tip.cent %></h4>
<% end %>
<% end %>
</br>
</br>
<h3>Enter a tip for customer:</h3>
<%= render 'tips/form' %>
</br>
</br>
<%= link_to "Did this customer move?", 
edit_customer_path(@customer) %>
</br>
</br>
<%= link_to "Delete Customer", customer_path(@customer),
method: :delete, data: { confirm: "Delete this customer?"} %>
<p>1<%= @customer.median_tip(current_user.id) %></p>
